@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
}

.light-bg-color {
  background-color: hsl(0, 0%, 93%);
}

.dark-bg-color {
  background-color: hsl(235, 21%, 11%);
}

.todo-item-light {
  border-bottom: 1px solid hsl(236, 33%, 92%);
}

.todo-item-dark {
  border-bottom: 1px solid hsl(233, 14%, 35%);
}

.empty-list {
  width: 100%;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

.empty-list-light {
  background-color: hsl(0, 0%, 98%);
  color: hsl(236, 9%, 61%);
  box-shadow: 0px 18px 16px 1px rgba(0, 0, 0, 0.15);
}

.empty-list-dark {
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
  box-shadow: 0px 18px 16px 1px rgba(0, 0, 0, 0.4);
}

.header-text {
  letter-spacing: 0.8rem;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.10);
  width: 100%;
}

.input-field-light {
  background-color: hsl(0, 0%, 98%);
}

.input-field-dark {
  background-color: hsl(235, 24%, 19%);
}

.circle-light {
  fill: hsl(233, 11%, 84%);
}

.circle-dark {
  fill: hsl(237, 14%, 26%);
}

.check {
  fill: url(#circle-gradient);
}

.check-icon {
  left: 0.58rem;
  bottom: 1.4rem;
  cursor: pointer;
}

.input-text {
  color: hsl(236, 9%, 61%);
  font-weight: 400;
  caret-color: hsl(220, 98%, 61%);
}

.input-text::placeholder {
  color: hsl(236, 9%, 61%);
  font-weight: 400;
}

.enter {
  color: hsl(233, 11%, 84%);
  align-self: flex-end;
  cursor: pointer;
}

.list-container-light {
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0px 15px 16px 1px rgba(0, 0, 0, 0.15);
}

.list-container-dark {
  background-color: hsl(235, 24%, 19%);
  box-shadow: 0px 15px 16px 1px rgba(0, 0, 0, 0.4);
}

.todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.todo-title-light {
  color: hsl(235, 19%, 35%);
}

.todo-title-dark {
  color: hsl(234, 39%, 85%);
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit {
  color: hsl(236, 9%, 61%);
  cursor: pointer;
}

.remove {
  cursor: pointer;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.5);
  z-index: 1;
}

.modal-form {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-form-light {
  background-color: white;
}

.modal-form-dark {
  background-color: hsl(237, 14%, 26%);
}

.modal-input {
  padding: 0.3rem 0.5rem;
  outline: none;
  border: 2px solid hsl(240, 2%, 75%);
  border-radius: 5px;
  caret-color: hsl(220, 98%, 61%);
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.button {
  margin-top: 1.3rem;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button {
  background-color: rgb(255, 138, 138);
}

.save-button {
  background-color: rgb(165, 255, 154);
}

.completed {
  text-decoration: line-through;
  color: hsl(233, 11%, 84%);
}

.list-info,
.list-amount,
.clear-completed {
  color: hsl(236, 9%, 61%);
}

.list-info {
  display: flex;
  align-items: center;
}

.list-options ul {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.clear-completed p {
  display: flex;
  justify-content: flex-end;
}

/* Hover Styles */

.hover {
  position: relative;
}

.hover .icon-container {
  opacity: 0; /* Initially hide the icons */
  position: absolute;
  right: 0;
  transition: opacity 0.3s;
}

.hover:hover .icon-container {
  opacity: 1; /* Show the icons on hover */
}

.circle:hover {
  fill: url(#circle-gradient);
}

.clear-completed-light p:hover,
.list-options-light ul li:hover {
  color: hsl(235, 19%, 35%);
  cursor: pointer;
}

.clear-completed-dark p:hover,
.list-options-dark ul li:hover {
  color: hsl(236, 33%, 92%);
  cursor: pointer;
}

.list-options ul .active {
  color: hsl(220, 98%, 61%);
}

@media screen and (min-width: 320px) {
  .list-options ul,
  .list-amount p,
  .clear-completed p {
    font-size: 0.65rem;
    line-height: 0.8rem;
  }
}

@media screen and (min-width: 425px) {
  .list-options ul,
  .list-amount p,
  .clear-completed p {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .list-options ul,
  .list-amount p,
  .clear-completed p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media screen and (min-width: 1024px) {
  .list-options ul,
  .list-amount p,
  .clear-completed p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
